.rec-who {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }
  .receipt-container {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
  }
  
  .receipt-container h2 {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  .receipt {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1rem;
  }
  
  .receipt-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: 1rem;
  }
  
  .receipt-body {
    display: flex;
    flex-direction: column;
  }
  
  .receipt-item {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
  }
  
  .receipt-item span {
    font-size: 1rem;
  }
  
  @media (max-width: 600px) {
    .receipt-container {
      padding: 1rem;
    }
  
    .receipt-header h3,
    .receipt-header p,
    .receipt-item span {
      font-size: 0.9rem;
    }
  }
  .btn {
    font-family: "Noto Sans", sans-serif;
    /* background-color: #ff6347; */
    border-radius: 10px;
    color: white;
    width: 250px;
    height: 50px;
    margin-top: 30px;
    margin-left: 135px;
  }
  .btn:hover {
    background-color: #ed3514;
  }