.home-page header {
    background-image: linear-gradient(rgba(5, 10, 35, 0.404), rgba(5, 10, 35, 0.75)), url(../../Utils/Images/home-page-header.jpg);
}

header {
    background-size: cover;
    background-position: center;
}

.blog-section {
    background-image: linear-gradient(rgba(5, 10, 35, 0.75), rgba(5, 10, 35, 0.75)), url(../../Utils/Images/blog-page-header.jpg);
    background-size: cover;
    background-position: center;
}
.image{
    width: 100%;
    height: 60px;
}

.dropdown-menu {
    background-color: #343a40; /* Match the navbar background */
}

.dropdown-item {
    color: #fff;
}

.dropdown-item:hover {
    background-color: #495057;
}

/* .navbar-nav .nav-item {
    margin-right: 15px;
} */